PORT = 8000
MONGODB_URI=mongodb+srv://sarojmeshram:<db_password>@cluster0.zqtxs.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=OTUCkcyqqbZAaM0ogRHVIg9GG_Gzh9zMocy03UtNdDNtoJ0X0-5n3DmVkx08MCFRSLD9cv1kBfLwK7fdO
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=CJ0X0-5aMdDNtowD9cv00VIg9GG_0Gzh9zMocy03UtN1kBfLRn3Dmkx08MCFRSLHVTUkcyqqZAK7fdO
REFRESH_TOKEN_EXPIRY=10d

// this is for cloudinary credentials, you can create your own account on cloudinary and get these credentials and replace here
//https://console.cloudinary.com/
CLOUDINARY_CLOUD_NAME=<cloud_name>
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>

